@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">Confuguration</a></li>
            <li><a href="~/Color">Colors</a></li>
        </ol>
    </div>
</div>
<div>
    @(Html.Kendo().Grid<Color>()
                .Name("Grid")
                        .ToolBar(toolbar =>
                        {
                            toolbar.Create();
                        })
                .Columns(columns =>
                {
                    columns.Bound(p => p.ColorName).Title("Color").Width(150);


                    columns.Command(command => { command.Edit(); command.Destroy(); }).Width(180);
                })
                .Editable(editable => editable.Mode(GridEditMode.InLine))

                .HtmlAttributes(new { style = "height: 525px" })
                .Sortable()
                .Pageable()
                .Scrollable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Events(events => events.Error("error_handler"))
                              .Model(model =>
                              {
                                  model.Id(p => p.ID);
                              })
                                                     .PageSize(15)
                                    .Create("Create", "Color")
                    .Read(read => read.Action("Read", "Color"))
                        .Update(update => update.Action("Update", "Color"))
                        .Destroy(update => update.Action("Destroy", "Color"))
                )
    )
</div>
<script type="text/javascript">

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
            $('#Grid').data('kendoGrid').dataSource.read();
        }
    }
</script>